.dropdown {
  background-color: rgb(var(--color-ghost-white));
  display: inline-block;
}

.dropdown-btn {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.dropdown-btn > p {
  font-size: 1.4rem;
  font-weight: 600;
}

.dropdown-btn > .counter {
  padding: 0.1rem 0.2rem;
  background-color: rgb(var(--color-light-gray));
  border-radius: var(--border-radius-chip);
}

.dropdown-btn .addTask {
  height: 40px;
}

.dropdown-btn img {
  height: 100%;
}

.dropdown-content {
  margin-top: 20px;
  display: none !important;
  z-index: 1;
  width: 100%;
}

.dropdown-item {
  padding: 10px;
  text-decoration: none;
  display: block;
}

.dropdown.open .dropdown-content {
  display: block;
}
