.dropdown {
  background-color: rgb(var(--color-ghost-white));
  display: inline-block;
}

.dropdown-btn {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 0.5rem;
}

.dropdown-btn > .counter {
  padding: 0.1rem 0.2rem;
  background-color: rgb(var(--color-light-gray));
  border-radius: var(--border-radius-chip);
}

.dropdown-content {
  display: none;
  z-index: 1;
  width: 100%;
}

.dropdown-item {
  padding: 10px;
  text-decoration: none;
  display: block;
}

.dropdown.open .dropdown-content {
  display: block;
}
