.header {
  padding-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  gap: 8px;
}

.head-text {
  font-weight: 800;
  font-size: 1.8rem;
  line-height: 1.8rem;
}

.tasks {
  margin: 0 10px;
}

.category {
  margin-top: 20px;
  padding: 10px 16px;
  min-width: 100%;
  text-align: center;
  border: 1px solid rgba(var(--border-color), var(--border-opacity));
  border-radius: var(--border-radius-default);
}

.addCategory {
  cursor: pointer;
  margin-top: 30px;
  height: 70px;
  display: flex;
  justify-content: center;
}

.addCategory img {
  height: 100%;
}

.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(var(--color-ghost-white));
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(var(--color-primary-black));
}

.loader h3 {
  font-size: 2rem;
}

.loader img {
  height: 30vh;
}

.hide {
  opacity: 0;
  transition: all 0.2s ease;
}