.modal-overlay {
  padding: 20vh 0 60px;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  animation-name: appear;
  animation-duration: 300ms;
  overflow-y: scroll;
}

.modal-overlay::-webkit-scrollbar {
  width: 0;
}

.modal-wrapper {
  min-width: 70vw;
  width: min-content;
  height: fit-content;
  border-radius: 16px;
  background-color: rgb(var(--color-ghost-white));
  border: 1px solid rgba(var(--border-color), var(--opacity));
  padding: 1.5rem;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.5s;
  animation-name: slide-in;
  animation-duration: 0.5s;

  @media (min-width: 640px) {
    min-width: 83.333333%;
  }
  @media (min-width: 768px) {
    min-width: 66.666667%;
  }
  @media (min-width: 1024px) {
    min-width: 50%;
  }
}

.modal-wrapper > div:not(.form-container) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.modal-wrapper p:not(:last-child) {
  margin-bottom: 0.6rem;
}

.modal-wrapper input {
  padding: 6px;
  border-radius: 8px;
  border: 1px solid rgb(var(--color-light-violet));
  margin-bottom: 8px;
}

.modal-wrapper h1,
.modal-wrapper h2,
.modal-wrapper h3,
.modal-wrapper h4,
.modal-wrapper h5,
.modal-wrapper h6 {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-in {
  from {
    transform: translateY(-150px);
  }
  to {
    transform: translateY(0);
  }
}

.cat-btn {
  min-width: 100%;
  border-radius: 10px;
  border: 1px solid rgb(var(--color-light-violet));
  padding: 8px;
}

/*  */

/* styles.css */

.form-container label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container textarea,
.form-container select,
.form-container input[type="date"] {
  min-width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
}

button {
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: rgb(var(--color-light-violet));
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

input {
  width: 100%;
}
